
@media screen and (max-width: 1200px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }

    #hamburger-nav {
        display: flex;
    }

      #desktop-nav .logo {
    display: none;
    }

    #hamburger-nav .logo {
      display: block;
  }

}


  @media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  #contact, footer {
    height: auto;
    margin-bottom: 1rem;
  }

  article, .contact-info-container p, .nav-links li a {
    font-size: 1rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section___pic-container {
    width: 80%;
    height: auto;
    margin: 0 auto 2rem;
    justify-content: center;
  }

  .section__text__p2,
  .title {
    font-size: 1.25rem;
    text-align: center;
  }

  .text-container {
    text-align: justify;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 600px) {
  .project-img {
    display: block;
    margin: 0 auto;
  }

  .details-container.color-container {
    width: 90%;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .btn-container {
    justify-content: center;
  }

  .article-container {
    display: flex;
    justify-content: center;
  }
}


